
header{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
padding: 5px;
border: 2px solid;
margin: 20px;
border-color: #496A81;
background-color:#66999B;
color:  #181818;
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 5px;
    margin: 10px;
    color:#181818;
}

p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color:#181818;
}

h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: 2px solid;
    padding: 5px;
    margin: 10px;
    border-color: #496A81;
    background-color:#66999B;
    color:  #181818;
}

div{
    color: #181818;
    text-align: center
}

ul{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#181818;
}

table {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    width: 100%; 
    max-width: 50%;
  }
  
  td, th {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 3px solid ;
    border-style: groove;
    text-align: left;
    padding: 8px;
    background-color: #CEC2FF;
    border-color: #B3B3F1;
    color: #181818;
  }